**Test 1 : In dạng số**

In [ ]:
x = int(input('Nhập vào số thứ 1:'))
y = int(input('Nhập vào số thứ 2:'))
print('KQ :', x+y)

Nhập vào số thứ 1:7
Nhập vào số thứ 2:3
KQ : 10

**Test 2: In dạng ký tự**

In [ ]:
x = input('Nhập số thứ 1:')
y = input('Nhập số thứ 2:')
print('KQ:', x+y)
print('KQ:',x,'+',y)

Nhập số thứ 1:7
Nhập số thứ 2:3
KQ: 73
KQ: 7 + 3

**Test 3 : Dữ Liệu**

In [ ]:
#Chế độ truy xuất DL
with open('Text_1.txt', mode='w') as accounts :
  accounts.write('20146132 Đặng Thanh Phong 8.5\n')
  accounts.write('20146097 Nguyễn Anh Bình 8.5\n')
  accounts.write('20146197 Đinh Văn Trung 8.5\n')

In [ ]:
with open('Text_2.txt', mode='w') as accounts :
  print('20146061 Nguyễn Văn A 8.0', file=accounts)
  print('20146062 Nguyễn Văn B 8.5', file=accounts)
  print('20146063 Nguyễn Văn C 9.0', file=accounts)
  print('20146064 Nguyễn Văn D 9.5', file=accounts)
  print('20146065 Nguyễn Văn E 10.0', file=accounts)

In [ ]:
with open('Text_3.txt', mode='r') as accounts :
  print(f'{"MSSV":<10}{"Name":<20}{"Score":>4}')
  for record in accounts :
    MSSV, Name, Score = record.split()
    print(f'{"MSSV":<10}{"Name":<20}{"Score":>4}')

MSSV      Name                Score

**Test 4 : Thư viện Pandas và Numpy**

In [7]:
import pandas as pd
import numpy as np

In [20]:
#Đọc file Excel
df = pd.read_excel("Text_4.xlsx")
df.head(15)

         ID      FullName  Year Faculty  Score
0  20146061  Nguyen Van A  2020     FME    5.5
1  20146062  Nguyen Van B  2020    FEEE    6.0
2  21146063  Nguyen Van C  2021    FCFT    6.5
3  21146064  Nguyen Van D  2021     FIT    7.0
4  22146065  Nguyen Van E  2022   FCEAM    7.5
5  22146066  Nguyen Van F  2022      FE    8.0
6  19146067  Nguyen Van I  2019     FAS    8.5
7  19146068  Nguyen Van K  2019     FFL    9.0
8  18146069  Nguyen Van L  2018     FPI    9.5
9  18146070  Nguyen Van M  2018     FHQ   10.0

In [17]:
#Ngoài ra có thể dùng lệnh print()
print(df)

         ID      FullName  Year Faculty  Score
0  20146061  Nguyen Van A  2020     FME    5.5
1  20146062  Nguyen Van B  2020    FEEE    6.0
2  21146063  Nguyen Van C  2021    FCFT    6.5
3  21146064  Nguyen Van D  2021     FIT    7.0
4  22146065  Nguyen Van E  2022   FCEAM    7.5
5  22146066  Nguyen Van F  2022      FE    8.0
6  19146067  Nguyen Van I  2019     FAS    8.5
7  19146068  Nguyen Van K  2019     FFL    9.0
8  18146069  Nguyen Van L  2018     FPI    9.5
9  18146070  Nguyen Van M  2018     FHQ   10.0

In [18]:
#Tuy nhiên : Nếu sd hàm pd.read_csv()
df1 = pd.read_csv("Text_4.csv")
df1.head(150)

         ID;FullName;Year;Faculty;Score
0    20146061;Nguyen Van A;2020;FME;5.5
1   20146062;Nguyen Van B;2020;FEEE;6.0
2   21146063;Nguyen Van C;2021;FCFT;6.5
3    21146064;Nguyen Van D;2021;FIT;7.0
4  22146065;Nguyen Van E;2022;FCEAM;7.5
5     22146066;Nguyen Van F;2022;FE;8.0
6    19146067;Nguyen Van I;2019;FAS;8.5
7    19146068;Nguyen Van K;2019;FFL;9.0
8    18146069;Nguyen Van L;2018;FPI;9.5
9   18146070;Nguyen Van M;2018;FHQ;10.0

In [21]:
print('Len:', len(df))              # Xem chiều dài của df, tương đương shape[0]
df.info()                           # Xem thông tin dataframe vừa đọc được
print('Shape:', df.shape)   # Xem kích thước của dataframe

Len: 10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        10 non-null     int64
 1   FullName  10 non-null     object
 2   Year      10 non-null     int64
 3   Faculty   10 non-null     object
 4   Score     10 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes
Shape: (10, 5)

In [22]:
#Lấy 1 cột bất kỳ theo tên cột
df['FullName']

0    Nguyen Van A
1    Nguyen Van B
2    Nguyen Van C
3    Nguyen Van D
4    Nguyen Van E
5    Nguyen Van F
6    Nguyen Van I
7    Nguyen Van K
8    Nguyen Van L
9    Nguyen Van M
Name: FullName, dtype: object

In [24]:
#Lấy nhiều cột
df[['ID', 'Year']].head(5)

         ID  Year
0  20146061  2020
1  20146062  2020
2  21146063  2021
3  21146064  2021
4  22146065  2022

In [28]:
#Lấy bản ghi theo chỉ số
df[0:10]

         ID      FullName  Year Faculty  Score
0  20146061  Nguyen Van A  2020     FME    5.5
1  20146062  Nguyen Van B  2020    FEEE    6.0
2  21146063  Nguyen Van C  2021    FCFT    6.5
3  21146064  Nguyen Van D  2021     FIT    7.0
4  22146065  Nguyen Van E  2022   FCEAM    7.5
5  22146066  Nguyen Van F  2022      FE    8.0
6  19146067  Nguyen Van I  2019     FAS    8.5
7  19146068  Nguyen Van K  2019     FFL    9.0
8  18146069  Nguyen Van L  2018     FPI    9.5
9  18146070  Nguyen Van M  2018     FHQ   10.0

In [29]:
#Kết hợp lấy theo hàng và cột mong muốn
df[['FullName', 'Faculty']][:5]

       FullName Faculty
0  Nguyen Van A     FME
1  Nguyen Van B    FEEE
2  Nguyen Van C    FCFT
3  Nguyen Van D     FIT
4  Nguyen Van E   FCEAM

In [33]:
#Lấy các bản ghi theo điều kiện : MSSV
df[df['ID'] > 21146063][:5]

         ID      FullName  Year Faculty  Score
3  21146064  Nguyen Van D  2021     FIT    7.0
4  22146065  Nguyen Van E  2022   FCEAM    7.5
5  22146066  Nguyen Van F  2022      FE    8.0

In [39]:
#Lấy các bản ghi theo điều kiện : Khoa
df[df.Faculty == 'FME'].head(15)

         ID      FullName  Year Faculty  Score
0  20146061  Nguyen Van A  2020     FME    5.5

In [40]:
#Lấy giá trị trả về numpy arrays
df['Faculty'].values

array(['FME', 'FEEE', 'FCFT', 'FIT', 'FCEAM', 'FE', 'FAS', 'FFL', 'FPI',
       'FHQ'], dtype=object)

In [41]:
#Lấy mẫu và thời gian lấy mẫu
time = pd.date_range('01/01/2023',periods=100000, freq='30s')
Dataframe = pd.Dataframe(index=time)
Dataframe['Acess Account']=np.random.randint(1,10,100000)
Dataframe.resample('W').sum()

AttributeError: ignored

**BTVN **
- Đọc DL
- Chọn 1 nước
- Lấy đc bao nhiêu lấy hết
- SL huy chương, từng môn đạt huy chương ntn
- http://winterolympicsmedals.com/medals.csv