**BTVN :** 
+ Đọc DL từ web : http://winterolympicsmedals.com/medals.csv
+ Họ và Tên : Đặng Thanh Phong
+ MSSV : 20146132
+ Nhóm 09 - Sáng T5 - Tiết 1234

In [3]:
#Khai báo thư viện
import pandas as pd
import numpy as np

In [4]:
#Khai báo đường dẫn
URL = 'http://winterolympicsmedals.com/medals.csv'
#Đọc dữ liệu
my_df = pd.read_csv(URL)

In [60]:
#Hiển thị tất cả DL trong bảng của file csv
my_df.iloc[:]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
#Hiển thị (n) dòng đầu tiên trong file csv
my_df.head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
#Hiển thị (n) dòng cuối trong file csv
my_df.tail(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
#Hiển thị số lượng dòng và cột của file csv
print('(Dòng, cột) :', my_df.shape)
#Hiển thị tổng số lượng phần tử của file csv
print('SL phần tử :', my_df.size)

(Dòng, cột) : (2311, 8)
SL phần tử : 18488

In [ ]:
#Hiển thị 1 số thông tin của file csv :
  #Index của bảng
  #Tên các cột, số lượng các phần tử Null trong cột và kiểu dữ liệu của chúng
  #Số lượng các kiểu dữ liệu
  #Dung lượng của bảng
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
#Thống kê đơn giản như count, mean, std, min, max
#Ngoài ra còn có : percentiles = [0.25, 0.5, 0.75]
#Phương thức này chỉ áp dụng cho các cột ở dạng numerical
my_df.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
#Có thể thay đổi percentiles bằng cách truyền tham số này vào trong .describe()
#Lưu ý : pandas mặc định tính thêm percentile tại 0.5 dù không truyền vào
my_df.describe(percentiles=[0.1,0.85])

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
10%    1948.000000
50%    1988.000000
85%    2002.000000
max    2006.000000

In [ ]:
my_df.index

RangeIndex(start=0, stop=2311, step=1)

In [ ]:
#Lấy 1 cột bất kỳ của 20 hàng đầu tiên
my_df['Medal'].head(20)

0     Silver
1       Gold
2       Gold
3     Bronze
4       Gold
5     Silver
6     Silver
7       Gold
8     Silver
9       Gold
10      Gold
11    Silver
12    Bronze
13    Bronze
14      Gold
15    Bronze
16    Bronze
17    Bronze
18    Bronze
19    Silver
Name: Medal, dtype: object

In [5]:
#Tính số lượng huy chương của 1 mục bất kỳ
my_df.groupby(['Sport','Medal']).count()

                   Year  City  Discipline  NOC  Event  Event gender
Sport      Medal
Biathlon   Bronze    54    54          54   54     54            54
           Gold      54    54          54   54     54            54
           Silver    54    54          54   54     54            54
Bobsleigh  Bronze    45    45          45   45     45            45
           Gold      45    45          45   45     45            45
           Silver    43    43          43   43     43            43
Curling    Bronze     7     7           7    7      7             7
           Gold       7     7           7    7      7             7
           Silver     7     7           7    7      7             7
Ice Hockey Bronze    23    23          23   23     23            23
           Gold      23    23          23   23     23            23
           Silver    23    23          23   23     23            23
Luge       Bronze    36    36          36   36     36            36
           Gold      37    37          37   37     37            37
           Silver    35    35          35   35     35            35
Skating    Bronze   249   249         249  249    249           249
           Gold     254   254         254  254    254           254
           Silver   255   255         255  255    255           255
Skiing     Bronze   350   350         350  350    350           350
           Gold     354   354         354  354    354           354
           Silver   356   356         356  356    356           356

In [31]:
#Lọc số huy chương vàng theo môn cá nhân của 1 nước
my_df[((my_df['Medal'] == 'Gold') & (my_df['City'] == 'Chamonix'))]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold
30,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
33,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold

In [54]:
#Tính số huy chương vàng đã lọc được của nước Chamonix như trên
a = my_df.groupby((my_df['Medal']=='Gold') & (my_df['City']=='Chamonix')).count()
a.drop(my_df.columns[0:7],axis=1)

       Medal
False   2295
True      16

In [58]:
#Tính trung bình
print('GT TB =',my_df['Year'].mean())
#Tìm Min
print('MIN =',my_df['Year'].min())
#Tìm Max
print('MAX =',my_df['Year'].max())

GT TB = 1980.3617481609692
MIN = 1924
MAX = 2006

In [69]:
#Trả về các giá trị khác nhau của Series, sắp xếp theo thư tự tăng dần
my_df['Discipline'].unique()

array(['Figure skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon',
       'Speed skating', 'Cross Country S', 'Curling', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track S.', 'Freestyle Ski.', 'Snowboard'], dtype=object)

In [70]:
#Trả về số lượng các giá trị khác nhau của Series
my_df['Discipline'].nunique()

15

In [66]:
#Trả về số lần xuất hiện của các phần tử trong Series
#Sau đó sắp xếp theo số lần xuất hiện giảm dần
my_df['Sport'].value_counts()

Skiing        1060
Skating        758
Biathlon       162
Bobsleigh      133
Luge           108
Ice Hockey      69
Curling         21
Name: Sport, dtype: int64

In [71]:
#Xóa 1 cột
my_df.drop('NOC', axis=1)

,Year,City,Sport,Discipline,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,Snowboard Cross,W,Silver

In [72]:
#Xóa 2 cột trở lên
#Cách 1
my_df.drop(['Event', 'Medal'], axis=1)

      Year      City       Sport      Discipline  NOC Event gender
0     1924  Chamonix     Skating  Figure skating  AUT            M
1     1924  Chamonix     Skating  Figure skating  AUT            W
2     1924  Chamonix     Skating  Figure skating  AUT            X
3     1924  Chamonix   Bobsleigh       Bobsleigh  BEL            M
4     1924  Chamonix  Ice Hockey      Ice Hockey  CAN            M
...    ...       ...         ...             ...  ...          ...
2306  2006     Turin      Skiing       Snowboard  USA            M
2307  2006     Turin      Skiing       Snowboard  USA            W
2308  2006     Turin      Skiing       Snowboard  USA            W
2309  2006     Turin      Skiing       Snowboard  USA            M
2310  2006     Turin      Skiing       Snowboard  USA            W

[2311 rows x 6 columns]

In [74]:
#Xóa 2 cột trở lên
#Cách 2
my_df.drop(columns=['Year', 'NOC'])

,City,Sport,Discipline,Event,Event gender,Medal
0,Chamonix,Skating,Figure skating,individual,M,Silver
1,Chamonix,Skating,Figure skating,individual,W,Gold
2,Chamonix,Skating,Figure skating,pairs,X,Gold
3,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
4,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
...,...,...,...,...,...,...
2306,Turin,Skiing,Snowboard,Half-pipe,M,Silver
2307,Turin,Skiing,Snowboard,Half-pipe,W,Gold
2308,Turin,Skiing,Snowboard,Half-pipe,W,Silver
2309,Turin,Skiing,Snowboard,Snowboard Cross,M,Gold
2310,Turin,Skiing,Snowboard,Snowboard Cross,W,Silver

In [89]:
#Lọc tất cả DL, bỏ DL từ năm 2006
my_df[my_df['Year'] != 2006].iloc[:]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2054,2002,Salt Lake City,Skiing,Snowboard,USA,Giant parallel slalom,M,Bronze
2055,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Bronze
2056,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
2057,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Silver
2058,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,W,Gold

In [88]:
#Lọc DL cụ thể của cột
my_df.set_index(my_df['Event']).loc['500m']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Event,,,,,,,,
500m,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
500m,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Bronze
500m,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
500m,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
500m,1928,St. Moritz,Skating,Speed skating,FIN,500m,M,Bronze
...,...,...,...,...,...,...,...,...
500m,2006,Turin,Skating,Speed skating,KOR,500m,M,Bronze
500m,2006,Turin,Skating,Speed skating,RUS,500m,M,Silver
500m,2006,Turin,Skating,Speed skating,RUS,500m,W,Gold
500m,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
500m,2006,Turin,Skating,Speed skating,USA,500m,M,Gold